.logo{
  border-radius: 4px;
  width:22.5px;
}



.buttonGroup {
  
  
  /* font-size: 10px;  */
  /* background-color: rgb(109, 52, 52); */
  
  height: 40px;
  display:flex;
  /* flex-direction: row; */
  
 
}

/* .no-uppercase {
  text-transform: unset !important;
 
} */
